// Esquema de colores

// Esquema de color
$white: #fff;
$light-blue: #4484ce;
$blue: #2d3047;

// Segundo esquema de color
$smoky-black: #071013;
$dark-gray: #43464b;
$light-gray: #D3D3D3;

// Tipografía
$lato: 'Lato', sans-serif;

// Peso de la fuente
$bold: 700;
$regular: 400;

// Tamaño de la tipografía
$xxx-large: 50px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
